@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700;800&display=swap');

body {
  margin: 5vw 10vw 0px 10vw;
  padding: 0px;
  background-color: #151436;
  color: #ffbae5;
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 300;
  font-size: 2rem;
}

* {
  box-sizing: border-box;
}

h3 {
  margin-top: 0;
  font-size: 3rem;
  text-align: center;
  font-weight: 200;
}

h4{
  margin-top: 0;
  font-size: 2rem;
  font-weight: 100;
  text-align: right;
}

h1{
  font-weight: 500;
}

#grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1vmin;
  grid-row-gap: 5vmin;
  padding: 2vmin;
  font-size: 1.5rem;
}

.content {
  padding: 1vmin;
  /* background-color: #4d4c73;
  border:solid; */
  display: grid;
  grid-column-end: span 3;
  /* border-radius: 20vmin; */
}

.image {
  width: 100%;
  height: 100px;
  object-fit: cover;
  /* height: auto; */
}
